.content-wrapper {
    display: flex;
    flex-wrap: nowrap;
    min-height: 100vh;
}

#content {
    flex-grow: 1;
    background-color: #f8f8f8;
}

.content-box {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &__title {
        margin-bottom: 1rem;
    }
}
