.align-center { text-align: center; }
.align-right { text-align: right; }
.align-left { text-align: left; }
.center-h-flex { display: flex; justify-content: center; }
.center-v-flex { display: flex; align-items: center; }
.start-h-flex { display: flex; justify-content: flex-start; }
.start-v-flex { display: flex; align-items: flex-start; }
.end-h-flex { display: flex; justify-content: flex-end; }
.end-v-flex { display: flex; align-items: flex-end; }
.hidden { visibility: hidden; }
.visible { visibility: visible; }

.dp { display: block; }
.dip { display: inline-block; }
.df { display: flex; }
.dif { display: inline-flex; }
.dn { display: none; }

.fr { float: right; }
.fl { float: left; }

.fw { flex-wrap: wrap; }
.nfw { flex-wrap: nowrap; }

.mw-100 { max-width: 100%; }
.w-100 { width:100%; }

.h-100 { height: 100%; }


.cursor-p { cursor: pointer; }
.cursor-m { cursor: move; }

@for $i from 0 through 5 {
    .mt-#{$i} {
        margin-top: #{$i}rem !important;
    }

    .mb-#{$i} {
        margin-bottom: #{$i}rem !important;
    }

    .mr-#{$i} {
        margin-right: #{$i}rem !important;
    }

    .ml-#{$i} {
        margin-left: #{$i}rem !important;
    }

    .m-#{$i} {
        margin: #{$i}rem !important;
    }

    .pt-#{$i} {
        padding-top: #{$i}rem !important;
    }

    .pb-#{$i} {
        padding-bottom: #{$i}rem !important;
    }

    .pr-#{$i} {
        padding-right: #{$i}rem !important;
    }

    .pl-#{$i} {
        padding-left: #{$i}rem !important;
    }

    .p-#{$i} {
        padding: #{$i}rem !important;
    }
}